{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}
    <h1>Новости</h1>
    {% if is_not_subscriber %}
        <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn btn-sm">Подписаться</a></p>
    {% endif %}

    <hr>

    {% if perms.newsapp.add_post %}
    <a href="{% url 'news_create' %}">Добавить новость</a>
    {% endif %}
    {% if perms.newsapp.add_post %}
    <a href="{% url 'articles_create' %}">Добавить статью</a>
    {% endif %}

    {% if news %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата</td>
                <td>Содержание</td>
                <td>Действия</td>
                <td>Категории</td>

            </tr>

            {% for post in category_news_list %}
            <tr>
                <td>{{ post.title|censor }}</td>
                <td>{{ post.dateCreation|date:'d M Y' }}</td>
                <td>{{ post.text|truncatechars:20}}</td>

                <td>
                {% if post.categoryType == NW %}
                    {% if perms.newsapp.change_post %}
                    <a href="{% url 'news_update' pk=post.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.newsapp.delete_post %}
                    <a href="{% url 'news_delete' post.id %}">Удалить</a>
                    {% endif %}
                {% else %}
                    {% if perms.newsapp.change_post %}
                    <a href="{% url 'articles_update' pk=post.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.newsapp.delete_post %}
                    <a href="{% url 'articles_delete' post.id %}">Удалить</a>
                    {% endif %}
                {% endif %}
                </td>
                <td>{{ post.postCategory }}</td>

            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}



   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}